# データサイエンス100本ノック（構造化データ加工編） - R

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとCSVファイルからのデータ読み込みを行います
- 利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあれば適宜インストールしてください（!マークに続けてOSコマンドを入力することで、任意のubuntu Linuxコマンドが入力可能）
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
# require('RPostgreSQL')
require('tidyr')
require('dplyr')
require('stringr')
require('caret')
require('lubridate')
require('rsample')
require('unbalanced')

# host <- 'db'
# port <- Sys.getenv()["PG_PORT"]
# dbname <- Sys.getenv()["PG_DATABASE"]
# user <- Sys.getenv()["PG_USER"]
# password <- Sys.getenv()["PG_PASSWORD"]

# con <- dbConnect(PostgreSQL(), host=host, port=port, dbname=dbname, user=user, password=password)
# df_customer <- dbGetQuery(con,"SELECT * FROM customer")
# df_category <- dbGetQuery(con,"SELECT * FROM category")
# df_product <- dbGetQuery(con,"SELECT * FROM product")
# df_receipt <- dbGetQuery(con,"SELECT * FROM receipt")
# df_store <- dbGetQuery(con,"SELECT * FROM store")
# df_geocode <- dbGetQuery(con,"SELECT * FROM geocode")

Loading required package: tidyr
Loading required package: dplyr

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Loading required package: stringr
Loading required package: caret
Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Loading required package: lubridate

Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

Loading required package: rsample
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'rsample'"Loading required package: unbalanced
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'unbalanced'"

In [2]:
df_customer <- read.csv("./data/customer_shift-jis.csv", encoding="shift-jis")
head(df_customer, n = 5)

  customer_id    customer_name gender_cd gender birth_day  age postal_cd
1 CS021313000114 大野 あや子   1         女性   1981-04-29 37  259-1113
2 CS037613000071 六角 雅彦     9         不明   1952-04-01 66  136-0076
3 CS031415000172 宇多田 貴美子 1         女性   1976-10-04 42  151-0053
4 CS028811000001 堀井 かおり   1         女性   1933-03-27 86  245-0016
5 CS001215000145 田崎 美紀     1         女性   1995-03-29 24  144-0055
  address                            application_store_cd application_date
1 神奈川県伊勢原市粟窪**********     S14021               20150905
2 東京都江東区南砂**********         S13037               20150414
3 東京都渋谷区代々木**********       S13031               20150529
4 神奈川県横浜市泉区和泉町********** S14028               20160115
5 東京都大田区仲六郷**********       S13001               20170605
  status_cd
1 0-00000000-0
2 0-00000000-0
3 D-20100325-C
4 0-00000000-0
5 6-20090929-2

In [3]:
# df_category <- read.csv("./data/category.csv", encoding="UTF-8")
df_category <- read.csv("./data/category.csv", encoding="shift-jis") # エラーがでたので文字コードを変更
head(df_category, n = 5)

  category_major_cd category_major_name category_medium_cd category_medium_name
1 4                 惣菜                401                御飯類
2 4                 惣菜                401                御飯類
3 4                 惣菜                402                佃煮類
4 4                 惣菜                402                佃煮類
5 4                 惣菜                402                佃煮類
  category_small_cd category_small_name
1 40101             弁当類
2 40102             寿司類
3 40201             魚介佃煮類
4 40202             海草佃煮類
5 40203             野菜佃煮類

In [4]:
df_product <- read.csv("./data/product.csv", encoding="UTF-8")
head(df_product, n = 5)

  X.U.FEFF.product_cd category_major_cd category_medium_cd category_small_cd
1 P040101001          4                 401                40101
2 P040101002          4                 401                40101
3 P040101003          4                 401                40101
4 P040101004          4                 401                40101
5 P040101005          4                 401                40101
  unit_price unit_cost
1 198        149
2 218        164
3 230        173
4 248        186
5 268        201

In [5]:
df_receipt <- read.csv("./data/receipt.csv", encoding="UTF-8")
head(df_receipt, n = 5)

  sales_ymd sales_epoch store_cd receipt_no receipt_sub_no customer_id
1 20181103  1257206400  S14006    112       1              CS006214000001
2 20181118  1258502400  S13008   1132       2              CS008415000097
3 20170712  1215820800  S14028   1102       1              CS028414000014
4 20190205  1265328000  S14042   1132       1              ZZ000000000000
5 20180821  1250812800  S14025   1102       2              CS025415000050
  product_cd quantity amount
1 P070305012 1        158
2 P070701017 1         81
3 P060101005 1        170
4 P050301001 1         25
5 P060102007 1         90

In [6]:
df_store <- read.csv("./data/store.csv", encoding="shift-jis") # 正常に読まなかったので文字コードを変換した
head(df_store, n = 5)

  store_cd store_name   prefecture_cd prefecture
1 S12014   千草台店     12            千葉県
2 S13002   国分寺店     13            東京都
3 S14010   菊名店       14            神奈川県
4 S14033   阿久和店     14            神奈川県
5 S14036   相模原中央店 14            神奈川県
  address
1 千葉県千葉市稲毛区千草台一丁目
2 東京都国分寺市本多二丁目
3 神奈川県横浜市港北区菊名一丁目
4 神奈川県横浜市瀬谷区阿久和西一丁目
5 神奈川県相模原市中央二丁目
  address_kana                                       tel_no       longitude
1 チバケンチバシイナゲクチグサダイイッチョウメ       043-123-4003 140.1180
2 トウキョウトコクブンジシホンダニチョウメ           042-123-4008 139.4802
3 カナガワケンヨコハマシコウホククキクナイッチョウメ 045-123-4032 139.6326
4 カナガワケンヨコハマシセヤクアクワニシイッチョウメ 045-123-4043 139.4961
5 カナガワケンサガミハラシチュウオウニチョウメ       042-123-4045 139.3716
  latitude floor_area
1 35.63559 1698
2 35.70566 1735
3 35.50049 1732
4 35.45918 1495
5 35.57327 1679

In [7]:
# df_geocode <- read.csv("./data/geocode.csv", encoding="UTF-8") # 時間がかかる, Python では一瞬で読めた
# head(df_geocode, n = 5)

# 演習問題

### はじめに：パイプ演算子について  
パイプ演算子 %>% はRの標準演算子ではなく、dplyrをインストールしたら使えるようになります。  
https://qiita.com/zakkiiii/items/ecb7ddf55c7f1bfacecf  

R-4.1.0 からはパイプ演算子がRの標準装備になるようです。  
The native pipe  
When the {magrittr} package introduced the pipe to R in 2014, it was building upon similar syntax in Unix / linux scripting languages (bash) and functional programming languages (like F#).  
https://www.r-bloggers.com/2021/05/new-features-in-r-4-1-0/

---
> R-056: 顧客データフレーム（df_customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに抽出せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。先頭10件を表示させればよい。

---
> R-057: 前問題の抽出結果と性別（gender）を組み合わせ、新たに性別×年代の組み合わせを表すカテゴリデータを作成せよ。組み合わせを表すカテゴリの値は任意とする。先頭10件を表示させればよい。

---
> R-058: 顧客データフレーム（df_customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに抽出せよ。結果は10件表示させれば良い。

---
> R-059: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに表示せよ。標準化に使用する標準偏差は、不偏標準偏差と標本標準偏差のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

---
> R-060: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。