# Week-04

In [1]:
# getwd() #ディレクトリ確認getwd() #ディレクトリ確認

In [2]:
# # setwd() に入れる Path は上記のディレクトリの下の data ファイル
# setwd("C:/Users/iiats/OneDrive/デスクトップ/１００本ノックチャレンジ/03_R_100_knocks/Questions/data") 
# getwd() #ディレクトリ確認

In [3]:
# DataFrameの準備
# 今回から相対パスでデータを読み込む
df <- read.csv("./data/titanic3.csv", header=T)
df2 <- read.csv("./data/data1.csv", header=T)
df3 <- read.csv("./data/data1_2.csv", header=T)
df4 <- read.csv("./data/data1_3.csv", header=T)
df5 <- read.csv("./data/data2.csv", header=T, fileEncoding = "CP932")

In [4]:
head(df)

  pclass survived name                                            sex    age
1 1      1        Allen, Miss. Elisabeth Walton                   female 29.00
2 1      1        Allison, Master. Hudson Trevor                  male    0.92
3 1      0        Allison, Miss. Helen Loraine                    female  2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            male   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25.00
6 1      1        Anderson, Mr. Harry                             male   48.00
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
6 0     0     19952   26.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [5]:
dim(df)

[1] 1309   14

# データ抽出 (14 - 32)

In [6]:
# 【31】
# dfの各列の要素数の確認

In [7]:
# 力業

In [8]:
colnames(df)

 [1] "pclass"    "survived"  "name"      "sex"       "age"       "sibsp"
 [7] "parch"     "ticket"    "fare"      "cabin"     "embarked"  "boat"
[13] "body"      "home.dest"

In [9]:
# これは欠損値も１種類のデータとカウントする
for (i in 1:14){
    print(paste(colnames(df)[i], ": ", nrow(unique(df[i]))))
}

[1] "pclass :  3"
[1] "survived :  2"
[1] "name :  1307"
[1] "sex :  2"
[1] "age :  99"
[1] "sibsp :  7"
[1] "parch :  8"
[1] "ticket :  929"
[1] "fare :  282"
[1] "cabin :  187"
[1] "embarked :  4"
[1] "boat :  28"
[1] "body :  122"
[1] "home.dest :  370"

In [10]:
# Python の df.nunique() の様に一度で行う方法を誰か知りませか？

In [11]:
# 【32】
# dfのembarked列の要素と出現回数の確認

# またまた力業
unique(df[11])
print(paste("S: ", length(df[11][df[11]=="S"])))
print(paste("C: ", length(df[11][df[11]=="C"])))
print(paste("Q: ", length(df[11][df[11]=="Q"])))
print(paste("NaN: ", length(df[11][df[11]==""])))

    embarked
1   S
10  C
169
207 Q

[1] "S:  914"
[1] "C:  270"
[1] "Q:  123"
[1] "NaN:  2"

In [12]:
# Python の df['embarked'].value_counts() の様に一度で行う方法を誰か知りませか？

# データ加工 (33 - 58)

In [13]:
# 【33】
# dfのindex名が「3」のage列を --> Rではindexが１から始まるので index名が「4」となる
# 30から40に変更し、先頭の5行を表示

In [14]:
# index「4」の行
df[4,]

  pclass survived name                                 sex  age sibsp parch
4 1      0        Allison, Mr. Hudson Joshua Creighton male 30  1     2
  ticket fare   cabin   embarked boat body home.dest
4 113781 151.55 C22 C26 S             135  Montreal, PQ / Chesterville, ON

In [15]:
# http://fujinitaka.hatenablog.com/entry/2018/07/08/022044
df[4,]["age"] <- lapply(df[4,]["age"], gsub, pattern="30", replacement = "40")
head(df)

  pclass survived name                                            sex    age
1 1      1        Allen, Miss. Elisabeth Walton                   female 29
2 1      1        Allison, Master. Hudson Trevor                  male   0.92
3 1      0        Allison, Miss. Helen Loraine                    female 2
4 1      0        Allison, Mr. Hudson Joshua Creighton            male   40
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25
6 1      1        Anderson, Mr. Harry                             male   48
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
6 0     0     19952   26.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [16]:
# もっとシンプルにこれでよいのか。
df <- read.csv("./data/titanic3.csv", header=T)
df[4,]["age"] <- "40"
head(df)

  pclass survived name                                            sex    age
1 1      1        Allen, Miss. Elisabeth Walton                   female 29
2 1      1        Allison, Master. Hudson Trevor                  male   0.92
3 1      0        Allison, Miss. Helen Loraine                    female 2
4 1      0        Allison, Mr. Hudson Joshua Creighton            male   40
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) female 25
6 1      1        Anderson, Mr. Harry                             male   48
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
6 0     0     19952   26.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [17]:
# 【34】
# dfのsex列にてmale→0、femlae→1に
# 変更し、先頭の5行を表示

# http://fujinitaka.hatenablog.com/entry/2018/07/08/022044
df["sex"] <- lapply(df["sex"], gsub, pattern="female", replacement = "1") # maleを先にすると"female"の一部も置換してしまう
df["sex"] <- lapply(df["sex"], gsub, pattern="male", replacement = "0")
head(df)

  pclass survived name                                            sex age
1 1      1        Allen, Miss. Elisabeth Walton                   1   29
2 1      1        Allison, Master. Hudson Trevor                  0   0.92
3 1      0        Allison, Miss. Helen Loraine                    1   2
4 1      0        Allison, Mr. Hudson Joshua Creighton            0   40
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 1   25
6 1      1        Anderson, Mr. Harry                             0   48
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
6 0     0     19952   26.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [18]:
# dplyrを使う方法 --> Python の Pandas に比べると複雑だな
library(dplyr)
library(stringr)
df <- read.csv("./data/titanic3.csv", header=T)
df <- dplyr::mutate(df,sex=gsub(sex,pattern="female",replacement = "1", ignore.case = TRUE))
df <- dplyr::mutate(df,sex=gsub(sex,pattern="male",replacement = "0", ignore.case = TRUE))
head(df)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'stringr' was built under R version 3.6.3"

  pclass survived name                                            sex age
1 1      1        Allen, Miss. Elisabeth Walton                   1   29.00
2 1      1        Allison, Master. Hudson Trevor                  0    0.92
3 1      0        Allison, Miss. Helen Loraine                    1    2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            0   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 1   25.00
6 1      1        Anderson, Mr. Harry                             0   48.00
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  211.3375 B5      S        2     NA
2 1     2     113781 151.5500 C22 C26 S        11    NA
3 1     2     113781 151.5500 C22 C26 S              NA
4 1     2     113781 151.5500 C22 C26 S             135
5 1     2     113781 151.5500 C22 C26 S              NA
6 0     0     19952   26.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [19]:
# 【35】
# dfのfare列に100を足して、
# 先頭の5行を表示

df["fare"] <- df["fare"] + 100
head(df)

  pclass survived name                                            sex age
1 1      1        Allen, Miss. Elisabeth Walton                   1   29.00
2 1      1        Allison, Master. Hudson Trevor                  0    0.92
3 1      0        Allison, Miss. Helen Loraine                    1    2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            0   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 1   25.00
6 1      1        Anderson, Mr. Harry                             0   48.00
  sibsp parch ticket fare     cabin   embarked boat body
1 0     0     24160  311.3375 B5      S        2     NA
2 1     2     113781 251.5500 C22 C26 S        11    NA
3 1     2     113781 251.5500 C22 C26 S              NA
4 1     2     113781 251.5500 C22 C26 S             135
5 1     2     113781 251.5500 C22 C26 S              NA
6 0     0     19952  126.5500 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [20]:
# 【36】
# dfのfare列を2を掛けて、
# 先頭の5行を表示

df["fare"] <- df["fare"] * 2
head(df)

  pclass survived name                                            sex age
1 1      1        Allen, Miss. Elisabeth Walton                   1   29.00
2 1      1        Allison, Master. Hudson Trevor                  0    0.92
3 1      0        Allison, Miss. Helen Loraine                    1    2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            0   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 1   25.00
6 1      1        Anderson, Mr. Harry                             0   48.00
  sibsp parch ticket fare    cabin   embarked boat body
1 0     0     24160  622.675 B5      S        2     NA
2 1     2     113781 503.100 C22 C26 S        11    NA
3 1     2     113781 503.100 C22 C26 S              NA
4 1     2     113781 503.100 C22 C26 S             135
5 1     2     113781 503.100 C22 C26 S              NA
6 0     0     19952  253.100 E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [21]:
# 【37】
# dfのfare列を小数点以下で丸める

df['fare'] = lapply(df['fare'], round)
head(df)

  pclass survived name                                            sex age
1 1      1        Allen, Miss. Elisabeth Walton                   1   29.00
2 1      1        Allison, Master. Hudson Trevor                  0    0.92
3 1      0        Allison, Miss. Helen Loraine                    1    2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            0   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 1   25.00
6 1      1        Anderson, Mr. Harry                             0   48.00
  sibsp parch ticket fare cabin   embarked boat body
1 0     0     24160  623  B5      S        2     NA
2 1     2     113781 503  C22 C26 S        11    NA
3 1     2     113781 503  C22 C26 S              NA
4 1     2     113781 503  C22 C26 S             135
5 1     2     113781 503  C22 C26 S              NA
6 0     0     19952  253  E12     S        3     NA
  home.dest
1 St Louis, MO
2 Montreal, PQ / Chesterville, ON
3 Montreal, PQ / Chesterville, ON
4 Montreal, PQ / Chesterville, ON
5 Montreal, PQ / Chesterville, ON
6 New York, NY

In [22]:
# 【38】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示

df['test'] = 1
head(df)

  pclass survived name                                            sex age
1 1      1        Allen, Miss. Elisabeth Walton                   1   29.00
2 1      1        Allison, Master. Hudson Trevor                  0    0.92
3 1      0        Allison, Miss. Helen Loraine                    1    2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            0   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 1   25.00
6 1      1        Anderson, Mr. Harry                             0   48.00
  sibsp parch ticket fare cabin   embarked boat body
1 0     0     24160  623  B5      S        2     NA
2 1     2     113781 503  C22 C26 S        11    NA
3 1     2     113781 503  C22 C26 S              NA
4 1     2     113781 503  C22 C26 S             135
5 1     2     113781 503  C22 C26 S              NA
6 0     0     19952  253  E12     S        3     NA
  home.dest                       test
1 St Louis, MO                    1
2 Montreal, PQ / Chesterville, ON 1
3 Montreal, PQ / Chesterville, ON 1
4 Montreal, PQ / Chesterville, ON 1
5 Montreal, PQ / Chesterville, ON 1
6 New York, NY                    1

In [23]:
# 【39】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示

In [24]:
# 力業

In [25]:

rn = dim(df)[1]
rn

[1] 1309

In [26]:
paste(df['cabin'][3,], '_', df['embarked'][3,])

[1] "C22 C26 _ S"

In [27]:
for (i in 1:rn){
        df["test"][i,] <- paste(df['cabin'][i,], '_', df['embarked'][i,])
       }

head(df)

  pclass survived name                                            sex age
1 1      1        Allen, Miss. Elisabeth Walton                   1   29.00
2 1      1        Allison, Master. Hudson Trevor                  0    0.92
3 1      0        Allison, Miss. Helen Loraine                    1    2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            0   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 1   25.00
6 1      1        Anderson, Mr. Harry                             0   48.00
  sibsp parch ticket fare cabin   embarked boat body
1 0     0     24160  623  B5      S        2     NA
2 1     2     113781 503  C22 C26 S        11    NA
3 1     2     113781 503  C22 C26 S              NA
4 1     2     113781 503  C22 C26 S             135
5 1     2     113781 503  C22 C26 S              NA
6 0     0     19952  253  E12     S        3     NA
  home.dest                       test
1 St Louis, MO                    B5 _ S
2 Montreal, PQ / Chesterville, ON C22 C26 _ S
3 Montreal, PQ / Chesterville, ON C22 C26 _ S
4 Montreal, PQ / Chesterville, ON C22 C26 _ S
5 Montreal, PQ / Chesterville, ON C22 C26 _ S
6 New York, NY                    E12 _ S

In [28]:
# だいぶＲのデータフレームを扱えるようになってきました！

In [29]:
# 【40】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示

for (i in 1:rn){
        df["test"][i,] <- paste(df['age'][i,], '_', df['embarked'][i,])
       }

head(df)

  pclass survived name                                            sex age
1 1      1        Allen, Miss. Elisabeth Walton                   1   29.00
2 1      1        Allison, Master. Hudson Trevor                  0    0.92
3 1      0        Allison, Miss. Helen Loraine                    1    2.00
4 1      0        Allison, Mr. Hudson Joshua Creighton            0   30.00
5 1      0        Allison, Mrs. Hudson J C (Bessie Waldo Daniels) 1   25.00
6 1      1        Anderson, Mr. Harry                             0   48.00
  sibsp parch ticket fare cabin   embarked boat body
1 0     0     24160  623  B5      S        2     NA
2 1     2     113781 503  C22 C26 S        11    NA
3 1     2     113781 503  C22 C26 S              NA
4 1     2     113781 503  C22 C26 S             135
5 1     2     113781 503  C22 C26 S              NA
6 0     0     19952  253  E12     S        3     NA
  home.dest                       test
1 St Louis, MO                    29 _ S
2 Montreal, PQ / Chesterville, ON 0.92 _ S
3 Montreal, PQ / Chesterville, ON 2 _ S
4 Montreal, PQ / Chesterville, ON 30 _ S
5 Montreal, PQ / Chesterville, ON 25 _ S
6 New York, NY                    48 _ S