# Week-04

In [ ]:
# ライブラリーの読み込み
import pandas as pd
import glob

# DataFrameの準備
df = pd.read_csv('./data/titanic3.csv'')
df2 = pd.read_csv('./data/data1.csv')
df3 = pd.read_csv('./data/data1_2.csv')
df4 = pd.read_csv('./data/data1_3.csv')
df5 = pd.read_csv('./data/data2.csv',encoding='cp932')

# データ抽出 (14 - 32)

In [ ]:
# 【31】
# dfの各列の要素数の確認

In [ ]:
# 【32】
# dfのembarked列の要素と出現回数の確認

# データ加工 (33 - 58)

In [ ]:
# 【33】
# dfのindex名が「3」のage列を
# 30から40に変更し、先頭の5行を表示

In [ ]:
# 【34】
# dfのsex列にてmale→0、femlae→1に
# 変更し、先頭の5行を表示

In [ ]:
# 【35】
# dfのfare列に100を足して、
# 先頭の5行を表示

In [ ]:
# 【36】
# dfのfare列を2を掛けて、
# 先頭の5行を表示

In [ ]:
# 【37】
# dfのfare列を小数点以下で丸める

In [ ]:
# 【38】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示

In [ ]:
# 【39】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示

In [ ]:
# 【40】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示