# データサイエンス100本ノック（構造化データ加工編） - Python

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- pandas等、利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあれば適宜インストールしてください（"!pip install ライブラリ名"でインストールも可能）
- 処理は複数回に分けても構いません
- 名前、住所等はダミーデータであり、実在するものではありません

In [43]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math
import psycopg2
from sqlalchemy import create_engine
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler # conda install -c conda-forge imbalanced-learn

df_customer = pd.read_csv("./data/customer.csv")
df_category = pd.read_csv("./data/category.csv")
df_product = pd.read_csv("./data/product.csv")
df_receipt = pd.read_csv("./data/receipt.csv")
df_store = pd.read_csv("./data/store.csv")
df_geocode = pd.read_csv("./data/geocode.csv")

/Users/miwa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 演習問題

---
> P-036: レシート明細データフレーム（df_receipt）と店舗データフレーム（df_store）を内部結合し、レシート明細データフレームの全項目と店舗データフレームの店舗名（store_name）を10件表示させよ。

In [15]:
pd.merge(df_receipt, df_store[['store_cd','store_name']], how='inner').head(10)

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount,store_name
0,20181103,1257206400,S14006,112,1,CS006214000001,P070305012,1,158,葛が谷店
1,20181116,1258329600,S14006,112,2,ZZ000000000000,P080401001,1,48,葛が谷店
2,20170118,1200614400,S14006,1162,1,CS006815000006,P050406035,1,220,葛が谷店
3,20190524,1274659200,S14006,1192,1,CS006514000034,P060104003,1,80,葛が谷店
4,20190419,1271635200,S14006,112,2,ZZ000000000000,P060501002,1,148,葛が谷店
5,20181119,1258588800,S14006,1152,2,ZZ000000000000,P050701001,1,88,葛が谷店
6,20171211,1228953600,S14006,1132,2,CS006515000175,P090903001,1,80,葛が谷店
7,20191021,1287619200,S14006,1112,2,CS006415000221,P040602001,1,405,葛が谷店
8,20170710,1215648000,S14006,1132,2,CS006411000036,P090301051,1,330,葛が谷店
9,20190805,1280966400,S14006,112,1,CS006211000012,P050104001,1,115,葛が谷店

---
> P-037: 商品データフレーム（df_product）とカテゴリデータフレーム（df_category）を内部結合し、商品データフレームの全項目とカテゴリデータフレームの小区分名（category_small_name）を10件表示させよ。

In [25]:
pd.merge(df_product, df_category[['category_small_cd', 'category_small_name']], how='inner').head(10)

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost,category_small_name
0,P040101001,4,401,40101,198.0,149.0,弁当類
1,P040101002,4,401,40101,218.0,164.0,弁当類
2,P040101003,4,401,40101,230.0,173.0,弁当類
3,P040101004,4,401,40101,248.0,186.0,弁当類
4,P040101005,4,401,40101,268.0,201.0,弁当類
5,P040101006,4,401,40101,298.0,224.0,弁当類
6,P040101007,4,401,40101,338.0,254.0,弁当類
7,P040101008,4,401,40101,420.0,315.0,弁当類
8,P040101009,4,401,40101,498.0,374.0,弁当類
9,P040101010,4,401,40101,580.0,435.0,弁当類

---
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は10件だけ表示させれば良い。

In [45]:
df_amount_sum = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_tmp = df_customer.query('gender_cd == "1" and not customer_id.str.startswith("Z")', engine='python')
pd.merge(df_tmp['customer_id'], df_amount_sum, how='left', on='customer_id').head(10)

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

---
> P-039: レシート明細データフレーム（df_receipt）から売上日数の多い顧客の上位20件と、売上金額合計の多い顧客の上位20件を抽出し、完全外部結合せよ。ただし、非会員（顧客IDが'Z'から始まるもの）は除外すること。

In [46]:
sales_days_receipt = df_receipt[~df_receipt['customer_id'].str.startswith("Z")].customer_id.value_counts().reset_index().rename(columns={'index': 'customer_id', 'customer_id': 'count'})
amount_receipt = df_receipt[~df_receipt['customer_id'].str.startswith("Z")].groupby('customer_id').amount.sum().sort_values(ascending=False).reset_index()

pd.merge(df_customer, sales_days_receipt, how='outer').sort_values('count', ascending=False).head(20)
pd.merge(df_customer, amount_receipt, how='outer').sort_values('amount', ascending=False).head(20)

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd,amount
16905,CS017415000097,福士 千夏,1,女性,1973-04-03,45,166-0014,東京都杉並区松ノ木**********,S13017,20151209,F-20101006-F,23086.0
12692,CS015415000185,岩淵 はるみ,1,女性,1973-09-19,45,135-0043,東京都江東区塩浜**********,S13015,20150322,F-20101014-F,20153.0
13550,CS031414000051,長澤 沙知絵,1,女性,1973-04-25,45,151-0064,東京都渋谷区上原**********,S13031,20150823,F-20101009-F,19202.0
4808,CS028415000007,紺野 あい,1,女性,1969-07-28,49,246-0023,神奈川県横浜市瀬谷区阿久和東**********,S14028,20151212,F-20100922-F,19127.0
14205,CS001605000009,安部 耕司,0,男性,1952-10-22,66,144-0035,東京都大田区南蒲田**********,S13001,20160203,F-20101019-E,18925.0
14760,CS010214000010,高嶋 芽以,1,女性,1991-02-19,28,221-0004,神奈川県横浜市神奈川区西大口**********,S14010,20141106,F-20100909-F,18585.0
6353,CS016415000141,西谷 愛梨,1,女性,1974-05-06,44,184-0012,東京都小金井市中町**********,S13016,20150117,F-20100611-F,18372.0
15709,CS006515000023,竹村 はるみ,1,女性,1963-06-27,55,224-0032,神奈川県横浜市都筑区茅ケ崎中央**********,S14006,20151217,F-20100831-F,18372.0
21458,CS011414000106,紺野 窈,1,女性,1972-11-11,46,223-0062,神奈川県横浜市港北区日吉本町**********,S14011,20150921,F-20101028-F,18338.0
20336,CS038415000104,城戸 しほり,1,女性,1971-02-21,48,134-0084,東京都江戸川区東葛西**********,S13038,20151119,F-20100922-F,17847.0
13674,CS035414000024,杉原 愛梨,1,女性,1975-11-19,43,158-0097,東京都世田谷区用賀**********,S13035,20150427,F-20100814-F,17615.0
4568,CS021515000089,上原 知世,1,女性,1967-11-15,51,259-1144,神奈川県伊勢原市池端**********,S14021,20150226,F-20101027-F,17580.0
5828,CS032414000072,市川 陽子,1,女性,1976-07-10,42,144-0046,東京都大田区東六郷**********,S13032,20150915,F-20101007-F,16563.0
10847,CS016415000101,石倉 早紀,1,女性,1970-05-07,48,184-0015,東京都小金井市貫井北町**********,S13016,20150821,F-20100923-F,16348.0
5031,CS011415000006,山田 恵子,1,女性,1971-05-07,47,223-0062,神奈川県横浜市港北区日吉本町**********,S14011,20150512,F-20101029-F,16094.0
18101,CS034415000047,荒川 郁恵,1,女性,1972-03-05,47,216-0001,神奈川県川崎市宮前区野川**********,S14034,20150308,F-20100928-F,16083.0
6202,CS007514000094,福岡 まさみ,1,女性,1964-06-10,54,285-0843,千葉県佐倉市中志津**********,S12007,20160211,F-20101007-F,15735.0
21453,CS009414000059,三上 恵梨香,1,女性,1974-10-11,44,158-0096,東京都世田谷区玉川台**********,S13009,20150419,F-20101028-F,15492.0
2269,CS030415000034,玉置 南朋,1,女性,1969-01-28,50,272-0025,千葉県市川市大和田**********,S12030,20150501,F-20101020-F,15468.0
16374,CS015515000034,黒崎 咲,1,女性,1965-11-14,53,135-0014,東京都江東区石島**********,S13015,20150810,F-20101010-D,15300.0

---
> P-040: 全ての店舗と全ての商品を組み合わせると何件のデータとなるか調査したい。店舗（df_store）と商品（df_product）を直積した件数を計算せよ。

In [ ]:
# 直積わからんですね