# 【超初心者向け】Numpy基礎50本ノック

https://qiita.com/moe_713/items/671c8c912f6e8d6c7442?fbclid=IwAR02kecyHTdg8psjwYgveBXLbv9fYoUMxTlFQPV4Yyahi9cVWWcGEn82Q-U

In [1]:
import numpy as np

## 5. 配列の演算

### 41. np.power
累乗の計算  
a = np.array([1, 2, 3]) の各要素を３乗しろ。

In [2]:
a = np.array([1, 2, 3])
np.power(a, 3)

In [3]:
# 数字の累乗
np.power(2,3) #2の３乗

### 42. np.sqrt
平方根の計算  
a = np.array([1, 4, 9]) の各要素の平方根をとれ。

In [4]:
a = np.array([1, 4, 9])
np.sqrt(a)

In [5]:
# 数字の平方根
np.sqrt(2)

参考：どの平方根が一番はやいか？  
https://qiita.com/ikura1/items/fe0f383304f909814b92

In [6]:
import math
import numpy as np
import sympy
import scipy

n = 12345678910

In [7]:
%timeit -r 3 -n 1000 n ** 0.5
%timeit -r 3 -n 1000 pow(n, 0.5)
%timeit -r 3 -n 1000 math.sqrt(n)
%timeit -r 3 -n 1000 np.sqrt(n) #２位
%timeit -r 3 -n 1000 sympy.sqrt(n) #１位
%timeit -r 3 -n 1000 int(scipy.sqrt(n))

1000 loops, best of 3: 302 ns per loop
1000 loops, best of 3: 229 ns per loop
1000 loops, best of 3: 182 ns per loop
1000 loops, best of 3: 987 ns per loop
1000 loops, best of 3: 1.78 µs per loop
1000 loops, best of 3: 30.1 µs per loop

C:\Users\iiats\Anaconda3\envs\Python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: scipy.sqrt is deprecated and will be removed in SciPy 2.0.0, use numpy.lib.scimath.sqrt instead
  """Entry point for launching an IPython kernel.

### 43. np.max
最大値を返す  
a = np.array([1, 2, 3])の最大値をもとめよ。

In [8]:
a = np.array([1, 2, 3])
np.max(a)

3

### 44. np.min
最小値を返す
a = np.array([1, 2, 3])の最小値をもとめよ。

In [9]:
a = np.array([1, 2, 3])
np.min(a)

1

### 45. np.abs
絶対値を求める
a = np.array([1, -2, -3+2J])の最小値をもとめよ。

In [10]:
a = np.array([1, -2, -3+2J])
np.abs(a)

array([1.        , 2.        , 3.60555128])

## おまけ：pandas の apply()関数と numpyの関数の併用

In [11]:
import pandas as pd
df = pd.read_csv("iris.csv")
df.head()

    a1   a2   a3   a4    id        label
0  5.1  3.5  1.4  0.2  id_1  Iris-setosa
1  4.9  3.0  1.4  0.2  id_2  Iris-setosa
2  4.7  3.2  1.3  0.2  id_3  Iris-setosa
3  4.6  3.1  1.5  0.2  id_4  Iris-setosa
4  5.0  3.6  1.4  0.2  id_5  Iris-setosa

In [12]:
# 関数 apply() を使って、a1, a2, a3, a4 のそれぞれの平均値
df2 = df.loc[:,"a1":"a4"].apply(np.average)
df2

a1    5.843333
a2    3.054000
a3    3.758667
a4    1.198667
dtype: float64

In [13]:
# 関数 apply() を使って、各行の a1, a2, a3, a4 の平均値
df3 = df.loc[:,"a1":"a4"].apply(np.average, axis=1)
df3

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
       ...
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64