# 初学者向けPandas100本ノックver1.0.3

In [ ]:
# ライブラリーの読み込み
import pandas as pd
import glob

# DataFrameの準備
df = pd.read_csv('./data/titanic3.csv'')
df2 = pd.read_csv('./data/data1.csv')
df3 = pd.read_csv('./data/data1_2.csv')
df4 = pd.read_csv('./data/data1_3.csv')
df5 = pd.read_csv('./data/data2.csv',encoding='cp932')

# データ加工 (33 - 58)

In [ ]:
# 【51】
# dfの行をシャッフルし、インデックスを振り直して表示

In [ ]:
# 【52】
# ①df2の重複行数をカウント
# ②df2の重複行を削除し、df2を表示

In [ ]:
# 【53】
# dfのnameの列をすべて大文字に変換し表示

In [ ]:
# 【54】
# dfのnameの列をすべて小文字に変換し表示

In [ ]:
# 【55】
# dfのsex列に含まれる「female」という単語を
# 「Python」に置換。その後、1行目の
# 「female」が「Python」に置き換わったことを確認

In [ ]:
# 【56】
# dfのname列1行目の「Allen, Miss. Elisabeth Walton」の
# 「Elisabeth」を消去(import reをインポート)

In [ ]:
# 【57】
# df5の都道府県列と市区町村列を空白がないように
# 「_」で結合(新規列名は「test2」)し、先頭5行を表示
# ※df5の「test」列は通常通り結合した場合の結果

In [ ]:
# 【58】
# df2の行と列を入れ替えて表示

# マージと連結(59 - 65)

In [ ]:
# 【59】
# df2にdf3を左結合し、df2に格納

In [ ]:
# 【60】
# df2にdf3を右結合し、df2に格納