# 初学者向けPandas100本ノックver1.0.3

In [ ]:
# ライブラリーの読み込み
import pandas as pd
import glob

# DataFrameの準備
df = pd.read_csv('./data/titanic3.csv'')
df2 = pd.read_csv('./data/data1.csv')
df3 = pd.read_csv('./data/data1_2.csv')
df4 = pd.read_csv('./data/data1_3.csv')
df5 = pd.read_csv('./data/data2.csv',encoding='cp932')

# データ抽出 (14 - 32)

In [ ]:
# 【21】
# locを使ってdfのnameとticketの列をすべて表示

In [ ]:
# 【22】
# locを使ってdfのnameからcabinまでの列をすべて表示

In [ ]:
# 【23】
# ilocを使ってdfのage列を5行目まで表示

In [ ]:
# 【24】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力
# 出力ファイル名はsmaple.csv

In [ ]:
# 【25】
# dfのage列の値が30以上のデータのみ抽出

In [ ]:
# 【26】
# dfのsex列がfemaleのデータのみ抽出

In [ ]:
# 【27】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出

In [ ]:
# 【28】
# queryを用いてdfのsex列がfemaleでかつageが40以上のデータのみ抽出

In [ ]:
# 【29】
# dfのname列に文字列「Mrs」が含まれるデータを表示

In [ ]:
# 【30】
# dfの中で文字型の列のみを表示